# Ignorar carpetas temporales
.DS_Store
node_modules/
dist/
.vite/

# Configuraciones locales
.env
.nvmrc

# Ignorar backup restaurado (¡muy importante!)
iztapamarket_directorio_2025_RESTORE/
.vercel
